In [1]:
import numpy as np
import pandas as pd

import data and drop NAs

In [2]:
imdb = pd.read_csv("C:\\Users\\Adam\\Google Drive\\School\\ComputerScience\\intro to data science\\Project_IMDB\\movie_profiles.csv")
imdb = imdb.dropna()
imdb.head()

,Unnamed: 0,avg_screens,budget,budget_currency,closing_date,critic_review_count,duration,gross_income,max_screens,metascore,...,genres.history,genres.horror,genres.music,genres.mystery,genres.romance,genres.sci-fi,genres.sport,genres.thriller,genres.war,genres.western
2,2,2605.375000,50000000.0,$,2014-11-07,334.0,112.0,191616238.0,3426.0,71.0,...,0,0,0,0,0,0,0,0,0,0
3,3,1891.833333,110000000.0,$,2014-05-16,366.0,102.0,106369117.0,3490.0,48.0,...,0,0,0,0,0,0,0,0,0,0
4,4,938.750000,28000000.0,$,2014-05-09,214.0,117.0,30688364.0,2872.0,40.0,...,0,0,0,0,0,0,0,1,0,0
7,7,1803.166667,40000000.0,$,2014-07-11,307.0,116.0,42615685.0,3160.0,44.0,...,0,0,0,0,1,0,0,0,0,1
8,8,2714.000000,28000000.0,$,2014-10-17,255.0,114.0,25977365.0,2714.0,57.0,...,0,0,0,1,0,0,0,0,0,0

create movie profit score column

In [3]:
imdb = imdb.assign(score=imdb['gross_income']/imdb['budget'])

In [4]:
imdb.head()

,Unnamed: 0,avg_screens,budget,budget_currency,closing_date,critic_review_count,duration,gross_income,max_screens,metascore,...,genres.horror,genres.music,genres.mystery,genres.romance,genres.sci-fi,genres.sport,genres.thriller,genres.war,genres.western,score
2,2,2605.375000,50000000.0,$,2014-11-07,334.0,112.0,191616238.0,3426.0,71.0,...,0,0,0,0,0,0,0,0,0,3.832325
3,3,1891.833333,110000000.0,$,2014-05-16,366.0,102.0,106369117.0,3490.0,48.0,...,0,0,0,0,0,0,0,0,0,0.966992
4,4,938.750000,28000000.0,$,2014-05-09,214.0,117.0,30688364.0,2872.0,40.0,...,0,0,0,0,0,0,1,0,0,1.096013
7,7,1803.166667,40000000.0,$,2014-07-11,307.0,116.0,42615685.0,3160.0,44.0,...,0,0,0,1,0,0,0,0,1,1.065392
8,8,2714.000000,28000000.0,$,2014-10-17,255.0,114.0,25977365.0,2714.0,57.0,...,0,0,1,0,0,0,0,0,0,0.927763

In [5]:
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [6]:
imdb[['score', 'name']]

         score                                               name
2     3.832325                                     22 Jump Street
3     0.966992                             300: Rise of an Empire
4     1.096013                                     3 Days to Kill
7     1.065392                  A Million Ways to Die in the West
8     0.927763                        A Walk Among the Tombstones
9     3.891015                                   About Last Night
11    2.391089  Alexander and the Terrible, Horrible, No Good,...
12    0.567338                                              Aloha
13    0.841987                                     And So It Goes
14   12.963667                                          Annabelle
15    1.386089                                            Ant-Man
16    4.239463                                 As Above, So Below
19    1.835966                            Avengers: Age of Ultron
23    1.447978                                           Big Eyes
24    1.348410                                         Big Hero 6
25    1.180444                                         Black Mass
28    0.101388                                           Blackhat
29    1.157013                                            Blended
30    6.339800                                            Boyhood
31    0.724483                                     Brick Mansions
32    0.267650                                               Cake
33    1.527923                Captain America: The Winter Soldier
34    0.644271                                            Chappie
37    2.117349                                         Cinderella
39    0.986624                                         Concussion
40    0.564672                                       Crimson Peak
41    3.006303                                       Daddy's Home
42    0.534832                                      Danny Collins
43    1.226728                     Dawn of the Planet of the Apes
46    1.017452                               Deliver Us from Evil
..         ...                                                ...
179   7.817892                                 The Lazarus Effect
180   0.268875                             The Legend of Hercules
181   0.427268                                           The Loft
182   1.100950                                   The Longest Ride
183   2.115102                                        The Martian
184   3.012165                                    The Maze Runner
185   1.114737                                  The Monuments Men
187   2.097653                                    The Other Woman
188   1.314898                                  The Peanuts Movie
191   7.946581                                 The Purge: Anarchy
192   1.360266                                       The Revenant
193   3.307156              The Second Best Exotic Marigold Hotel
196   2.195890           The SpongeBob Movie: Sponge Out of Water
199   1.766439               The Woman in Black 2: Angel of Death
200   0.491673                                       Tomorrowland
201   2.106463                                           Top Five
202   3.143093                                         Trainwreck
203   0.230145                                      Transcendence
204   1.168705                    Transformers: Age of Extinction
206   0.607328                                               Tusk
207   1.778523                                           Unbroken
208   0.291829                                Unfinished Business
209  31.537320                                         Unfriended
210   0.259705                                    Vampire Academy
212   0.144338                                Victor Frankenstein
215   0.757407                                  While We're Young
217   2.525197                                               Wild
218   0.598072                                    Wish I Was Here
219   3.027731                                      Woman in Gold
220   1.169575                         X-Men: Days of Future Past

[167 rows x 2 columns]